$main-red: #ce5e13;
$main-yellow: #f7db6c;
$main-purple: #a767e5;
$main-blue: #3182c4;
$main-green: #44ce7b;
$color-animation-duration: 60s;
$white: #ffffff;
$black: #000000;
$primary1: #0d7377;
$primary2: #212121;
$textCol: #1f1f1f;

@keyframes changeColor {
  0% {
    filter: hue-rotate(0);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

@mixin main-font {
  font-family: "Open Sans", sans-serif;
}

@mixin second-font {
  font-family: 'Dancing Script', cursive;
}