@use '../../vars' as *;

.siteLogo {
  max-width: 125px;
  font-size: 1rem;
  font-weight: 500;
  display: inline-flex;
  flex-shrink: 0;
  align-self: center;
  align-items: center;
  vertical-align: middle;
  color: #090909;
  text-decoration: none;
  letter-spacing: -0.02em;
  line-height: 1;
  outline: 0;
  overflow-wrap: break-word;
  overflow-wrap: anywhere
}

.navBar {
  display: flex;
  justify-content: space-between;

  :global(a) {
    position: relative;
    padding: 20px 0;
    margin: 0 5px;
    font-size: 1.5rem;
    text-decoration: none;
    background-repeat: no-repeat;
    color: #d7d6d6 !important;

    &::after {
      position: absolute;
      bottom: 13px;
      left: 0;
      width: 0;
      height: 3px;
      content: ' ';
      transition: width 0.3s ease-in-out, all 0.3s ease-in-out;
      text-decoration: none;
    }

    &.active {
      color: $white;

      &::after {
        width: 100%;
        background: $white;
      }
    }

    &:hover {
      &::after {
        width: 100%;
        background: $white;
        color: $white;
      }
    }

    @media (max-width: 800px) {
      font-size: 1.3rem;
    }

    @media (max-width: 500px) {
      padding: 20px 0;
    }

    @media (max-width: 400px) {
      font-size: 1.1rem;
    }
  }
  :global(.navbar-toggler) {
    padding: 0;
    width: 37px;
    height: 42px;
    transition: all 0.3s;

    span {
      display: block;
      width: 35px;
      height: 4px;
      background-color: $white;
      background-image: none;
      margin: 7px 0;
      transition: all 0.3s;
      position: relative;
      border-radius: 5px;
      transition: all 0.3s;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $white;
        top: -10px;
        border-radius: 5px;
        transition: all 0.3s;
      }

      &::after {
        top: 10px;
      }
    }

    &[aria-expanded="true"] {
      transform: rotate(360deg);

      span {
        transform: rotate(45deg);

        &::before,
        &::after {
          transform: rotate(90deg);
          top: 0;
        }
      }


    }
  }
}
